airport.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://my.org/ns/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://my.org/ns/" name="ServerImpService">
<types>
<xsd:schema>
<xsd:import namespace="http://my.org/ns/" schemaLocation="http://localhost:9000/airport?xsd=1"/>
</xsd:schema>
</types>
<message name="getWeather">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="getWeatherResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAirportInformationByAirportCode">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getAirportInformationByAirportCodeResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAirportInfo">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="getAirportInfoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getDrivingDistance">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="getDrivingDistanceResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="Server">
<operation name="getWeather" parameterOrder="arg0 arg1">
<input wsam:Action="http://my.org/ns/Server/getWeatherRequest" message="tns:getWeather"/>
<output wsam:Action="http://my.org/ns/Server/getWeatherResponse" message="tns:getWeatherResponse"/>
</operation>
<operation name="getAirportInformationByAirportCode">
<input wsam:Action="http://my.org/ns/Server/getAirportInformationByAirportCodeRequest" message="tns:getAirportInformationByAirportCode"/>
<output wsam:Action="http://my.org/ns/Server/getAirportInformationByAirportCodeResponse" message="tns:getAirportInformationByAirportCodeResponse"/>
</operation>
<operation name="getAirportInfo" parameterOrder="arg0 arg1">
<input wsam:Action="http://my.org/ns/Server/getAirportInfoRequest" message="tns:getAirportInfo"/>
<output wsam:Action="http://my.org/ns/Server/getAirportInfoResponse" message="tns:getAirportInfoResponse"/>
</operation>
<operation name="getDrivingDistance" parameterOrder="arg0 arg1">
<input wsam:Action="http://my.org/ns/Server/getDrivingDistanceRequest" message="tns:getDrivingDistance"/>
<output wsam:Action="http://my.org/ns/Server/getDrivingDistanceResponse" message="tns:getDrivingDistanceResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://my.org/ns/Server/getDrivingDistance/Fault/MalformedURLException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://my.org/ns/Server/getDrivingDistance/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://my.org/ns/Server/getDrivingDistance/Fault/IOException"/>
</operation>
</portType>
<binding name="ServerImpPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getWeather">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</input>
<output>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</output>
</operation>
<operation name="getAirportInformationByAirportCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</input>
<output>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</output>
</operation>
<operation name="getAirportInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</input>
<output>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</output>
</operation>
<operation name="getDrivingDistance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</input>
<output>
<soap:body use="literal" namespace="http://my.org/ns/"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServerImpService">
<port name="ServerImpPort" binding="tns:ServerImpPortBinding">
<soap:address location="http://localhost:9000/airport"/>
</port>
</service>
</definitions>