airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NewDataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Table" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AirportCode"/>
				<xs:element ref="CityOrAirportName"/>
				<xs:element ref="Country"/>
				<xs:element ref="CountryAbbrviation"/>
				<xs:element ref="CountryCode"/>
				<xs:element ref="GMTOffset"/>
				<xs:element ref="RunwayLengthFeet"/>
				<xs:element ref="RunwayElevationFeet"/>
				<xs:element ref="LatitudeDegree"/>
				<xs:element ref="LatitudeMinute"/>
				<xs:element ref="LatitudeSecond"/>
				<xs:element ref="LatitudeNpeerS"/>
				<xs:element ref="LongitudeDegree"/>
				<xs:element ref="LongitudeMinute"/>
				<xs:element ref="LongitudeSeconds"/>
				<xs:element ref="LongitudeEperW"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RunwayLengthFeet" type="xs:short"/>
	<xs:element name="RunwayElevationFeet" type="xs:byte"/>
	<xs:element name="LongitudeSeconds" type="xs:byte"/>
	<xs:element name="LongitudeMinute" type="xs:byte"/>
	<xs:element name="LongitudeEperW">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="W"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LongitudeDegree" type="xs:byte"/>
	<xs:element name="LatitudeSecond" type="xs:byte"/>
	<xs:element name="LatitudeNpeerS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LatitudeMinute" type="xs:byte"/>
	<xs:element name="LatitudeDegree" type="xs:byte"/>
	<xs:element name="GMTOffset" type="xs:byte"/>
	<xs:element name="CountryCode" type="xs:byte"/>
	<xs:element name="CountryAbbrviation">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CityOrAirportName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AirportCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
