weather.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Wind">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Visibility">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Time">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Temperature">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Status">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SkyConditions">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelativeHumidity">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PressureTendency">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pressure">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="DewPoint">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CurrentWeather">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Location"/>
				<xs:element ref="Time"/>
				<xs:element ref="Wind"/>
				<xs:element ref="Visibility"/>
				<xs:element ref="SkyConditions"/>
				<xs:element ref="Temperature"/>
				<xs:element ref="DewPoint"/>
				<xs:element ref="RelativeHumidity"/>
				<xs:element ref="Pressure"/>
				<xs:element ref="PressureTendency"/>
				<xs:element ref="Status"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
