src/conf/xml-resources/jaxb/google/googleMaps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value" type="xs:int"/>
	<xs:element name="text">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="element"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="origin_address">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="element">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element ref="duration"/>
				<xs:element ref="distance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="duration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="destination_address">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DistanceMatrixResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element ref="origin_address"/>
				<xs:element ref="destination_address"/>
				<xs:element ref="row"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
